a{
    text-decoration: none;
}

/* Navbar part start */
.navMenu a{
    margin-left: 30px;
    justify-content: center;
}

.menuLogin{
    display: flex;
    justify-content: end;
}


/* Navbar part end */

/* Banner Part Start */
.carousel::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3a3a3a4d;
}

.carouselInner{
    color: #fff;
    padding: 120px 0;
}

/* Banner Part End */

/* Product Part Start */
.header{
    text-align: center;
    padding: 50px 0;
}

.cardTitle{
    /* background: #395B64; */
    color: rgb(10, 10, 10);
    border: none;
    margin-top: 30px;
}

.imghidden{
    overflow: hidden;
}

.img{
    transition: all linear .3s;
    border: none;
}

.imghidden:hover .img{
    transform: scale(1.2);
}

.loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating{
    color: #FF8E00;
}

.ratingNumb{
    color: #FF8E00;
    background: #000 ! important;
}

.proButton{
    margin-right: 82px;
    background: #ffb300;
    border: none;
}

.proButton:hover{
    background: #ff8400;
    color: #00fbff;
}

.viewButton{
    background: #ffb300;
    border: none;
}

.viewButton:hover{
    background: #ff8400;
    color: #00fbff;
}

/* Product Part End */

/* Product Details Start */
.imgView{
    width: 90%;
    height: 550px;
    border: 2px solid hsla(0, 0%, 92%, 0.541);
}

.imgDisplay{
    display: flex;
}

.imgViewSmall{
    width: 100%;
    height: 30%;
    border: 2px solid hsla(0, 0%, 92%, 0.541);
}

.buttonStyle{
    margin-top: 30px;
}

.iiz__img{
    height: 500px;
    /* text-align: center; */
}

.alert{
    text-align: center;
}

.detailsButton{
    background: #ffb300;
    border: none;
}
.detailsButton:hover{
    background: #ff8400;
    color: #00fbff;
}
/* Product Details End */

/* Add to cart Page Start */
.listStyle{
    border: 2px solid #c9c8c8;
    margin-top: 30px;
}

.incriButton{
    background: #f6f5f5;
    color: rgb(40, 211, 214);
}

.deleteIcon{
    color: red;
    width: 30px;
    height: 30px;
}

.deleteButton{
    background: #fbfbfb;
    border: none;
}

.shoppingCart{
    color: #ffb300;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 4px;
}

.badgeStyle{
    color: #ffffff;
    border-radius: 50%;
}

.checkButton{
    width: 100%;
    background: #ffb300;
    border: none;
}

.checkButton:hover{
    background: #ff8400;
    color: #00fbff;
}
/* Add to cart Page End */

/* Login Page Start */

.loginImage{
    width: 100%;
    height: 100%;
}

.formStyle{
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 15px;
    margin-top: 100px;
}

.loginAlert{
    margin-top: 20px;
    background: #ffffff;
    border: none;
}

.loginButton{
    width: 100%;
    background: #ffb300;
    border: none;
}

.loginButton:hover{
    background: #ff8400;
    color: #00fbff;
}
/* Login Page End */

.pagination{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    width: 100%;
}

.contact{
    background: #000000df;
    color: #fff;
    padding: 50px 0;
}

.headerContact{
    text-align: center;
    color: rgb(218, 218, 218);
}

.footerList{
    border: none;
}
